.CreateUsersPage {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.CreateUsersPage .user-form {
  width: 275px;
  background-color: #222427;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;
  border-radius: 0.5em;
}

.CreateUsersPage .user-form * {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 7px 0;
  color: #fff;
}

.CreateUsersPage .user-form textarea {
  height: 100px;
  resize: none;
}

.CreateUsersPage .user-form input,
textarea {
  background-color: #323437;
  border-radius: 0.5em;
}
.CreateUsersPage .user-form textarea::placeholder,
input::placeholder {
  transition: all 0.2s;
}

.CreateUsersPage .user-form textarea:focus::placeholder,
input:focus::placeholder {
  color: #48e;
}

.CreateUsersPage .user-form h2 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.CreateUsersPage .user-form button {
  margin-top: 30px;
  color: #000;
  border-radius: 0.5em;
  transition: all 0.2s;
}

.CreateUsersPage .user-form button:hover {
  background-color: #48e;
  color: #fff;
}
